body{
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
}
.flex-container {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
}
.flex-container> div {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
}